{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-12 mt-4">
                <h2 class="text-center cart-heading">Shopping cart</h2>
                <hr class="heading-divider">
            </div>
        </div>
        <!-- Cart summary info -->
        <div class="row cart-info mt-2">
            <div class="col-12 col-md-6 cart-summary mt-2">
                <h6><strong>Cart Total: €{{total|floatformat:2}}</strong></h6>
                <h6>Delivery Cost: €{{shipping|floatformat:2}}</h6>
                <h5><strong>Grand Total: €{{grand_total|floatformat:2}}</strong></h5>
                {% if free_shipping_delta > 0 %}
                <p class="text-danger">Get free delivery by spending <strong>{{free_shipping_delta}}</strong> more!
                </p>
                {% endif %}
            </div>
            <div class="col-12 col-md-6 text-center cart-btns mb-3 mt-1">
                <a class="btn blue-btn my-2 d-block" href="{% url 'products' %}"><span><i class="fa-solid fa-angle-left"></i></span> Keep shopping
                </a>
                <a class="btn yellow-btn d-block" href="#">Proceed to Payment <span><i class="fa-solid fa-angle-right"></i></span></a>
            </div>
            <div class="col-12 cart-summary">
            <p class="text-muted mb-0">Summary of cart content below<i class="fa-solid fa-angles-down px-2"></i></p>
            </div>
        </div>
        <div class="row">
            <div class="col">
                {% if cart_items %}
                <!-- Cart display on mobile view -->
                <div class="d-block d-md-none mt-4">
                    <!-- Display cart items -->
                    {% for item in cart_items %}
                    <div class="row border-bottom px-3 py-4">
                        <div class="col-12 col-sm-6">
                            <!-- Item image -->
                            {% include 'cart/includes_cart/item_image.html'%}
                        </div>
                        <div class="col-12 col-sm-6 item-info">
                            <!-- Item specification -->
                            {% if item.product.is_service == False %}
                            {% include 'cart/includes_cart/item_specification.html'%}
                            <!-- Item cost -->
                            <p class="mb-1"><strong>€ {{ item.product.price }}</strong><small class="text-muted"> / per unit</small></p>
                            <p class="mb-2"><strong>Subtotal: {{ item.product.price }} €</strong></p>
                            <!-- Item quantity -->
                            {% include 'cart/includes_cart/update_cart_form.html'%}
                            {% endif %}
                        </div>
                    </div>
                    {% endfor %}
                </div>
                <!-- Cart display on tablet & desktop view -->
                <div class="d-none d-md-block">
                    <div class="table-responsive mt-4">
                        <table class="table table-borderless">
                            <thead>
                                <tr>
                                    <th scope="col">Item details</th>
                                    <th scope="col"></th>
                                    <th scope="col">Price</th>
                                    <th scope="col">Quantity</th>
                                    <th scope="col">Subtotal</th>
                                </tr>
                            </thead>
                            {% for item in cart_items %}
                                <tr>
                                    <td class="w-25 p-3">
                                        {% include 'cart/includes_cart/item_image.html'%}
                                    </td>
                                    {% if item.product.is_service == False %}
                                    <td class="w-25 py-3">
                                        {% include 'cart/includes_cart/item_specification.html'%}
                                    </td>
                                    <td class="td-padding">
                                        <p class="mb-1"><strong>€ {{ item.product.price }}</strong><small class="text-muted"> / per unit</small></p>
                                    </td>
                                    <td class="td-padding">
                                        {% include 'cart/includes_cart/update_cart_form.html'%}
                                    </td>
                                    <td class="td-padding">
                                        <p class="mb-2"><strong>{{ item.product.price }} €</strong></p>
                                    </td>
                                    {% endif %}
                                </tr>
                            {% endfor %}
                        </table>
                    </div>
                </div>
                {% else %}
                <img class="empty-cart-img mt-4" src="/media/cart_empty.png" alt="Empty cart">
                <p class="lead text-center mt-2">Your cart is empty</p>
                <a href="{% url 'products' %}" class="btn yellow-btn ms-3 mt-2">
                    <span><i class="fa-solid fa-angle-left"></i> Continue Shopping 
                    </span>
                </a>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
