{% extends "base.html" %}
{% load static %}

{% block content %}
<!-- Hero-img & custom jumbotron -->
<section class="hero-img">
    <div class="jumbotron">
        <h1 class="shop-title">GiftShop pop-up</h1>
        <hr class="jumbo-divider">
        <p class="slogan">Anyone can make art, with or without experience!
        </p>
        <div class="jumbo-btns">
            <a href="" class="btn jumbo-btn">ART WORKSHOP BOOKING</a>
            <a href="" class="btn jumbo-btn">BUY ART/ART SUPPLIES</a>
        </div>
    </div>
</section>
<!-- Introduction section  -->
<section class="intro">
    <div class="container text-center">
        <h2 class="intro-heading"> ~Recognizing the purpose of art~ </h2>
        <div class="row intro-body">
            <div class="col-12 col-md-5 history-breif">
                <p class="m-1">Essentially, art is everywhere - and can be dated back to the existence of the earliest humans, therefore often also considered a bi-product of culture.</p>
                <img class="sticker-icon" src="../media/cave-art.png" alt="Cave art">
            </div>
            <div class="col-12 col-md-5 purpose-breif">
                <p class="m-1">The purpose of art in general is to allow people, both individually and in group settings, to express emotions, commemorate history, expose injustices, overcome obstacles, and gain an understanding of the world around them.</p>
                <img class="sticker-icon" src="../media/emotion.png" alt="smiley emoji's">
            </div>
        </div>
        <div class="row intro-footer">    
            <div class="col-12 col-md-5 summary-breif">
                <p class="m-1">At its center, art is a form of self-expression, empowering the artist to express themselves through their medium of choice. Each piece of art contains a unique and individual purpose. The artist often defines the purpose of their work, and they may or may not leave each piece open to interpretation.</p>
                <img class="sticker-icon" src="../media/art-tools.png" alt="Art tools">
            </div>
        </div>
    </div>
</section>
<div class="container-fluid bg-custom">
    <div class="row p-4 align-items-center">
        <div class="col-12 col-md-6">
            <h2 class="offer-heading">Learn something new, join our Art Workshops</h2>
            <hr class="divider">
            <p class="offer-breif"> Take a break from your everyday life to learn something new. Embrace a bit of creative chaos and enter a world where reality & fantasy meets. At Giftshop pop-up we offer workshops within art, held by our passionate experts skilled within their profession. Apart from enhancing your skills, joining our workshops provides a great opportunity to bond with other like-minded people, gain exposure, improve your public speaking skills ... and the list of benefits goes on.
            </p>
            <div class="center-btn">
                <a href="" class="btn yellow-btn">View our services</a>
            </div>
        </div>
        <div class="col-12 col-md-6 offer-img">
            <img src="../media/moving-figure.jpg" alt="Body figure" class="moving-figure-img">
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row p-4 align-items-center">
        <div class="col-12 col-md-6 offer-img">
            <img src="../media/art-supplies.png" alt="Art supplies" class="art-supplies-img">
        </div>
        <div class="col-12 col-md-6">
            <h2 class="offer-heading">Explore our range of art & art supplies
            </h2>
            <hr class="divider">
            <p class="offer-breif">Giftshop pop-up is proud to present and resell a unique collection of artwork, created by our very own community members. We want to stand in support & highlight the importance of sustainable & locally produced items. In our shop we are certain you will find what you need for your own artistic journey, from brushes, paint, canvases and more.
            </p>
            <div class="center-btn">
                <a href="" class="btn yellow-btn">View our products</a>
            </div>
        </div>
    </div>
</div>
<hr class="long-divider mt-0">
<div class="email-subscription">
    <h3 class="subscribe-heading">Subscribe to our newsletter</h3>
    <p class="subscribe-text">So happy you are here &#9786 Don't miss out on our new offerings!
    </p>
    <form action="" method="post">
        <button type="submit" class="btn yellow-btn">Join</button>
    </form>
</div>
<hr class="long-divider mb-0">
<section class="events">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2 events-breif">
                <h2 class="events-heading">Art events available for everyone</h2>
                <p class="events-body">To give you the best options to experience art we regularly organize different art events such as pop-up art exhibitions, film screenings, music & paint sessions etc. We want to make each encounter a unique experience and most importantly a fun one.
                Our art events are open and welcome for all to participate in, you do not need to have any former knowledge in art. <br>So what’s the hold up? Come & join us!
                </p>
                <div class="center-btn mt-3">
                    <a href="" class="btn yellow-btn">View our events</a>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}