@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@500&family=Nunito:wght@500&display=swap');

/* Colour and Font Variables */
:root {
    --pastelpink: #ffc7b4;
    --sheerpink: #f6c6b3c4 ;
    --pastelblue: #92aacd;
    --sheerblue: #b0c5e49c;
    --yellow: #f7ba23;
    --lightyellow: #ffdb7e;
    --sheeryellow: #fff6578f;
    --softblack: #3c3a3a;

    --exo-2: 'Exo 2', serif;
    --nunito: 'Nunito', sans-serif;
}
/* Mutual global style */
html {
    height: 100%;
}

body{
    height: 100vh;
}

.header-container {
    padding-top: 176px;
}

.capital-font{
    text-transform: uppercase;
}

#offer-container {
    background-color: var(--pastelpink);
}

.offer-banner {
    height: 30px;
    margin: 0.5em 0;
    font-family: var(--exo-2);
}

.bg-custom {
    background-color: var(--pastelblue);
}

.slogan {
    font-family: var(--nunito);
}

.shop-title {
    font-family: var(--exo-2);
    font-size: x-large;
    margin: 0;
}

.yellow-btn {
    background-color: var(--yellow);
    color: black;
    font-family: var(--nunito);
    font-size: 1.1rem;
}

.divider {
    border-radius: 50%;
    background: radial-gradient(var(--lightyellow), var(--yellow));
    height: 4px !important;
    opacity: 1 !important;
    margin: 16px auto;
    width: 65%;
}

.sticker-icon {
    width: 20%;
}

.center-btn {
    display: flex;
    justify-content: center;
}

.long-divider {
    height: 2px !important;
    color: black;
}

.subscribe-heading {
    font-family: var(--exo-2);
}

.blue-btn {
    background-color: #92aacd;
    color: black;
    font-family: var(--nunito);
    font-size: 1.1rem;
}

.heading-divider {
    border-radius: 50%;
    background: radial-gradient(var(--lightyellow), var(--yellow));
    height: 4px !important;
    opacity: 1 !important;
    margin: 16px auto;
    width: 65%;
}

.current-page{
    background: var(--lightyellow);
    border-radius: 50%;
    padding: 1px 8px;
}

a.disabled {
    pointer-events: none !important;
    cursor: default !important;
}

.pagination {
    font-family: var(--nunito);
    color: black;
}

.pagination li a {
    text-decoration: none;
    color: black;
}

.yellow-arrow {
    color: var(--yellow) !important;
}

.cart-summary {
    font-family: var(--nunito);
    padding: 0 2rem;
}

.item-info {
    font-family: var(--nunito);
}

.btn-close {
    font-size: small;
}

/* Navigation */

.navbar {
    padding: 0.5rem 1.5rem;
}

.navbar-collapse {
    align-self: flex-end;
}

.site-nav {
    padding: 0;
}

.nav-link{
    padding: 0.5rem 0rem;
    color: black;
    font-family: var(--exo-2);
}

.navbar-light .navbar-nav .nav-link {
    color: black;
    font-family: var(--exo-2);
}

.navbar-light .navbar-toggler {
    color: rgb(0 0 0 / 39%);
}

.cart-link {
    color: beige;
}

.fa-bars:before{
    font-size: 1.5em;
    color: #000000cc;
}

.products-content {
    border: 0;
    background-color: var(--pastelblue);
    font-family: var(--exo-2);
}

/* Home page */

.hero-img {
    height: inherit;
    background: url('/media/hero-img.jpeg') no-repeat center top fixed;
    background-size: cover;
}

.jumbotron {
    background-color: #e7e7e7d9;
    position: relative;
    top: 30%;
    width: 65%;
    left: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border-radius: 5px;
    padding: 5px;
}

.jumbo-divider {
    width: 60%;
    height: 4px !important;
    margin: 14px 0;
    border-radius: 50%;
    background: radial-gradient(var(--lightyellow), var(--yellow));
    opacity: 0.6;
}

.jumbo-btns{
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
    padding-bottom: 9px;
}

.jumbo-btn {
    background-color: var(--yellow);
    color: white;
    font-family: var(--nunito);
    font-size: small;
}

.intro-heading {
    font-family: var(--exo-2);
    padding-top: 30px;
    margin-bottom: 1.5rem;
}

.intro-body {
    display: flex;
    justify-content: space-around;
    font-family: var(--nunito);
    font-size: 1.2rem;
}

.intro-footer {
    display: flex;
    justify-content: center;
    font-family: var(--nunito);
    font-size: 1.2rem;
}

.history-breif {
    background-color: var(--sheeryellow);
    padding: 10px;
    border-radius: 20px;
    margin-bottom: 3rem;
}

.purpose-breif {
    background-color: var(--sheerblue);
    padding: 10px;
    border-radius: 20px;
    margin-bottom: 3rem;
}

.summary-breif {
    background-color: var(--sheerpink);
    padding: 10px;
    border-radius: 20px;
    margin-bottom: 3rem;
}

.offer-heading {
    font-family: var(--exo-2);
    text-align: center;
    margin: 1rem 0;
}

.offer-breif {
    font-family: var(--nunito);
    font-size: 1.2rem;
    text-align: center;
    margin: 1.2rem 0;
}

.offer-img {
    padding: 1.9rem 0 0.5rem;
    display: flex;
    justify-content: center;
}

.moving-figure-img {
    width: 90%;
}

.art-supplies-img {
    width: 100%;
    background: var(--sheeryellow);
    border-radius: 10px;
}

.email-subscription {
    text-align: center;
    padding: 5px;
}

.subscribe-text {
    font-family: var(--nunito);
}

.events {
text-align: center;
}

.events-breif {
    background-color: var(--sheerblue);
    padding: 25px 12px;
    border-radius: 20px;
    margin-top: 3rem;
}

.events-heading {
    font-family: var(--exo-2);
}

.events-body {
    font-family: var(--nunito);
}

/* Products page */

.products-heading {
    font-family: var(--exo-2);
}

.product-category-btns {
    display: flex;
    justify-content: center;
    padding: 0;
    gap: 2rem;
    list-style: none;
}

.product-name {
    font-family: var(--exo-2);
}

.card-text {
    font-family: var(--nunito);
}

/* select dropdown */

#sort-selector {
    color: var(--softblack) ;
    font-family: var(--nunito);
}

.border-yellow {
    border: 1px solid var(--yellow);
}

.border-blue {
    border: 1px solid var(--pastelblue);
}

.sort-select-wrapper {
    width: 60%;
}

.counter-text {
    font-family: var(--exo-2);
}

/* Breadcrumb nav */

.breadcrumb {
    list-style: none;
    display: flex;
    padding: 0.5rem;
    font-family: var(--nunito);
}

.breadcrumb li{
    padding: 5px;
    color: var(--softblack) ;
    content: "/\00a0";
}

.breadcrumb li a {
    color: var(--softblack) ;
}

.breadcrumb li + li:before{
    color: var(--softblack) ;
    content: "/\00a0";
  }

/* Back to top btn */

.btt-button {
    height: 45px;
    width: 45px;
    position: fixed;
    bottom: 3rem;
    right: 1rem;
    display: none;
    border-radius: 5px;
    background: white;
}

.btt-link {
    text-decoration: none;
    color: var(--softblack) ;
    cursor: pointer;
}

.btt-button:hover {
    background-color: #f3f3f3;
}

.btt-link:hover {
    color: var(--softblack) ;
}

/* Shopping cart page  */

.cart-heading {
    font-family: var(--exo-2);
}

.cart-btns {
    width: 70% ;
    margin: auto;
}

.empty-cart-img {
    width: 100px;
    display: block;
    margin: auto;
}

.td-padding {
    padding: 2rem 0.5rem !important;
}

.remove-item-link, .update-cart-link {
    cursor: pointer;
    text-decoration: none;
}

/* Toast messages */

.message-container {
    position: fixed;
    top: 10rem;
    right: 0.5rem;
    z-index: 99999;
}

.toast {
    width: 300px;
    background-color: white;
}

.toast-header {
    font-family: var(--exo-2);
    font-size: 1rem;
}

.toast-body {
    font-family: var(--nunito);
}

.toast-success {
    border-left: 0.5rem solid seagreen;
}

.toast-error {
    border-left: 0.5rem solid #df3b45;
}

.toast-warning {
    border-left: 0.5rem solid #f7c133;
}

.toast-info {
    border-left: 0.5rem solid #41b9e0;
}

/* Media Queries */

/* Small screens */
@media (max-width:767px) {
    .intro-body, .intro-footer {
        margin: 0;
    }
}

/* Medium screens */
@media (min-width:768px) {
    .header-container {
        padding-top: 168px;
    }

    .sort-select-wrapper {
        width: 50%;
    }

    .heading-divider {
        width: 40%;
    }

    .empty-cart-img {
        width: 145px;
    }

    .cart-btns {
        width: 35%;
    }

    .cart-info {
        margin-top: 1rem;
    }

    .toast-header {
        font-size: 1.2rem;
    }
}

@media (min-width:992px) {
    .header-container {
        padding-top: 126px;
    }

    .sort-select-wrapper {
        width: 60%;
    }
}