<!-- Search link toggles search input(mobile-view)-->
<div class="">
    <a href="#" class="nav-link d-block d-lg-none" id="mobile-search" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <div class="text-center">
            <div>
                <i class="fas fa-search fa-lg" aria-hidden="true"></i>
            </div>
            <p class="my-0">Search</p>
        </div>
    </a>
    <!-- Search form (mobile-view)-->
    <div class="dropdown-menu border-0 w-100 p-3 rounded-0 my-0 d-lg-none" aria-labelledby="mobile-search">
        <form class="form" method="GET" action="/products/">
            <div class="input-group w-100">
                <input type="text" class="form-control border rounded-2" name="q" placeholder="Search" />
                <div class="input-group-append">
                    <button class="form-control btn border rounded-2 h-100" type="submit">
                        <span class="icon">
                            <i class="fas fa-search" aria-hidden="true"></i>
                        </span>
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>
<!-- Profile link (mobile-view)-->
<div class="dropdown">
    <a class="nav-link d-lg-none" href="#" id="user-options" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <div class="text-center">
            <div>
                <i class="fas fa-user fa-lg" aria-hidden="true"></i>
            </div>
            <p class="my-0">My account</p>
        </div>
    </a>
    <ul class="dropdown-menu border-0" aria-labelledby="user-options">
        {% if request.user.is_authenticated %} 
            {% if request.user.is_superuser %}
                <li><a class="dropdown-item" href="#">Product Management</a></li>
            {% endif %}
            <li><a class="dropdown-item" href="#">Profile</a></li>
            <li><a class="dropdown-item" href="#">Logout</a></li>
        {% else %}
            <li><a class="dropdown-item" href="{% url 'account_signup' %}">Register</a></li>
            <li><a class="dropdown-item" href="{% url 'account_login' %}">Login</a></li>
        {% endif %}
    </ul>
</div>
<!-- Shopping cart link (mobile-view)-->
<div class="">
    <a href="#" class="nav-link d-block d-lg-none {% if grand_total %}cart-link{% else %}text-black{% endif %}">
        <div class="text-center">
            <div>
                <i class="fas fa-shopping-cart fa-lg" aria-hidden="true"></i>
            </div>
            <p class="my-0">
                {% if grand_total %} 
                    € {{ grand_total|floatformat:2 }} 
                {% else %} 
                    € 0.00 
                {% endif %}
            </p>
        </div>
    </a>
</div>
