{% extends "base.html" %}
{% load static %}
{% block extra_title %}|Products{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 border-bottom">
                <ul class="breadcrumb d-flex my-0">
                    <li><a href="{% url 'home' %}">Home</a></li>
                    {% if not selected_categories and not selected_sub_category %}
                    <li>Products</li>
                    {% else %}
                    <li><a href="{% url 'products' %}">Products</a></li>
                    {% endif %}
                    {% if selected_categories %}
                    {% for category in selected_categories %}
                    <li>{{ category.friendly_name }}</li>
                    {% endfor %}
                    {% elif  selected_sub_category %}
                    <li>{{ sub_category_name }}</li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-12 text-center mt-4">
                <h1 class="products-heading">Products</h1>
                <hr class="heading-divider">
            </div>
            <div class="col-12 offset-lg-4 col-lg-4 mt-2">
                <ul class="product-category-btns">
                    <li class="dropdown ms-3">
                        <a href="#" class="dropdown-toggle yellow-btn btn" id="art-category-dropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Art
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="art-category-dropdown">
                            <li>
                                <a href="{% url 'products' %}?sub_category=oil_painting" class="dropdown-item">Oil painting</a>
                            </li>
                            <li>
                                <a href="{% url 'products' %}?sub_category=impasto_painting" class="dropdown-item">Impasto painting</a>
                            </li>
                            <li>
                                <a href="{% url 'products' %}?sub_category=line_art" class="dropdown-item">Line art</a>
                            </li>
                            <li class="dropdown-divider my-0"></li>
                            <li>
                                <a href="{% url 'products' %}" class="dropdown-item">All products</a>
                            </li>
                        </ul>
                    </li>
                    <li><a href="{% url 'products' %}?category=art_supplies" class="yellow-btn btn">Art supplies</a></li>
                </ul>
            </div>
            <div class="col-12 col-lg-4 d-flex justify-content-center align-self-center mt-2">
                <div class="sort-select-wrapper mb-3">
                    <select id="sort-selector" class="form-select form-select-sm border-{% if current_sorting != 'None_None' %}blue{% else %}yellow{% endif %}">
                        <option value="reset" {% if current_sorting == 'None_None' %}selected{% endif %}>Sort by...
                        </option>
                        <option value="price_asc" {% if current_sorting == 'price_asc' %}selected{% endif %}>Price (low to high)
                        </option>
                        <option value="price_desc" {% if current_sorting == 'price_desc' %}selected{% endif %}>Price (high to low)
                        </option>
                        <option value="name_asc" {% if current_sorting == 'name_asc' %}selected{% endif %}>Name (A-Z)
                        </option>
                        <option value="name_desc" {% if current_sorting == 'name_desc' %}selected{% endif %}>Name (Z-A)
                        </option>
                        <option value="category_asc" {% if current_sorting == 'category_asc' %}selected{% endif %}>Category (A-Z)
                        </option>
                        <option value="category_desc" {% if current_sorting == 'category_desc' %}selected{% endif %}>Category (Z-A)
                        </option>
                    </select>
                </div>
            </div>
        </div>
        <div class="col-12 text-center text-md-left">
            {% if search_word %}
            <p class="counter-text mb-0">Your search for <strong>"{{search_word}}" </strong>returned<strong> ({{products|length}})</strong> {% if products|length > 1 %} results {% else %} result {% endif %}
            </p>
            {% elif selected_categories %}
                {% for category in selected_categories %}
                    <h5 class="counter-text mb-0">{{ category.friendly_name }} ({{products|length}}) {% if products|length > 1 %} items {% else %} item {% endif %}</h5>
                {% endfor %}
            {% elif selected_sub_category %}
                <h5 class="counter-text mb-0">{{ sub_category_name }} ({{products|length}}) {% if products|length > 1 %} items {% else %} item {% endif %}</h5>
            {% else %}
            <h5 class="counter-text mb-0"> ({{products|length}}) {% if products|length > 1 %} items {% else %} item {% endif %}</h5>
            {% endif %}
        </div>
        <div class="row">
            {% for product in products %}
            {% include "products/includes_products/product_cards.html" %}
            {% endfor %}
        </div>
        <div></div>
    </div>
{% endblock %}
{% block postloadjs %}
    {{ block.super }}
<script type="text/javascript">
    $('#sort-selector').change(function() {
        var selector = $(this);
        console.log(selector)
        var currentUrl = new URL(window.location);

        var selectedVal = selector.val();
        if(selectedVal != 'reset'){
            var sort = selectedVal.split('_')[0];
            var direction = selectedVal.split('_')[1];

            currentUrl.searchParams.set('sort', sort);
            currentUrl.searchParams.set('direction', direction);

            window.location.replace(currentUrl);
        } else {
            currentUrl.searchParams.delete('sort');
            currentUrl.searchParams.delete('direction');

            window.location.replace(currentUrl);
        }
    })
</script>
{% endblock %}